/* Manga Component */
.containerManga, .containerNewManga {
    background-color: rgb(21, 22, 24);
    border-radius: 20px;
    padding: 20px 20px 50px;
    font-size: 12px;
    font-family: 'space mono';
    margin: 20px 10px;
    position: relative;
    width: 250px;
    color: rgb(172, 217, 243);
    box-shadow: 0 0 5px 2px white;
}


.imgManga, .containerNewManga{
    width: 150px;
    height: 250px;
    margin: auto 20px;
}

.linkManga {
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    left: 35%;
    color: white
}

.linkManga:hover {
    font-size: 18px;
}

.titleManga {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* New Manga Component */
.containerNewManga {
    display: flex;
}

.btnAddNewManga {
    font-size: 50px;
    margin: auto;
    color: white;
}

.btnAddNewManga:hover{
    font-size: 70px;
}

.btnAddNewManga:hover, .fi:hover, .cancel:hover, .submit:hover, .imgManga{
    cursor: pointer;
}


/* FORM */
.containerAddManga, .containerEditManga {
    position: fixed;
    left: 25%;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(255, 255, 255);
    font-size: 25px;
    opacity: 0;
    z-index: 1;
}

.formNav {
    width: inherit;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    border-top: solid white;
    padding-top: 20px;
}

.formNavTop {
    width: inherit;
    display: flex;
    justify-content: space-between;
    border-bottom: solid white;
}

.addTitle, .fi-rr-rectangle-xmark, .submit{
    margin: 0 20px;
    font-size: 30px;
}

.cancel {
    text-decoration: underline;
    color: red;
    margin-left: 10px;
}

.submit {
    border-radius: 10px;
}

.containerAddManga form, .containerEditManga form {
    display: flex;
    flex-direction: column;    
}

.containerAddManga input, .containerEditManga input{
    width: 300px;
    font-size: 25px;
}

.animeList > select{
    width: 200px;
    display: flex;
}

.formImageNewManga {
    width: 200px;
    height: 200px;
    margin: 20px;
}

.errorMessage{
    color: red;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width: 600px){
    /* Manga Container */
  

    /* New Manga Container */
    .containerNewManga, .containerManga{
        margin: 20px auto;
    }

    .containerAddManga, .containerEditManga{
        width: 100%;
        left: 0;
        margin: 0;
        top: 100%;
        visibility: hidden;
        transition: all .4s ease-out;
    }

    .formNav {
        padding-top: 40px;
        padding-bottom: 100%;
    }

    .formNavTop{
        display: none;
    }

    .containerAddManga > form > input, .containerEditManga > form > input{
        width: 300px;
        font-size: 16px;
    }

    .submit {
        font-size: 20px;
    }

    .errorMessage{
        position: absolute;
        top: 42.5%;
    }
  }